// partials/form/_register.scss

main {
  // Register
  .register {

    // Register button
    .login_submit.form-group .button_login > .custom_button {
      margin: 0;
    }

    // Password advice
    .password_advice {
      font-family: $primary_font;
      color: $secondary_text_color;
      font-size: $icon_size;
      display: inline-block;
      margin: 10px 0 30px 0;

      & .password_message {
        display: inline-block;
        color: $quinternary_text_color;
        font-size: $paragraph_text_size;
        margin: 0;
      }

      & .icon {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
  }
}
