// partials/_create_suites.scss

main {

  // Create suite wrapper
  .create_suite_wrapper {
    padding: $main_padding 0px;

    // Price-Cover file image
    .create_price_cover, .create_firstimg_secondimg {
      .custom-file {
        text-align: left;

        & > .custom-file-label {
          border: 0;
          border-right: 0;
          color: $placeholder_text_color;
        }

        & .custom-file-input:lang(en) ~ .custom-file-label::after {
          content: "Browse";
          font-family: $primary_font;
          color: $primary_text_color;
          font-size: $small_text_size;
        }

        & > .custom-file-input:focus ~ .custom-file-label {
          border-color: $secondary_background;
          box-shadow: 0 0 0;
        }

        & > .custom-file-label::after {
          background-color: $secondary_text_color;
          border-radius: 0;
        }

        &:hover {
          .custom-file-label::after {
            background-color: $quinternary_background;
          }
        }
      }
    }

    // Submit Button
    .form_submit .button_submit {
      margin-top: 20px;
    }

    // Services checkbox
    .checkbox {
      font-size: $small_text_size;
      text-align: left;

      /* Customize the label (the container) */
      .container_checkbox {
        padding-left: 25px;
        font-size: 25px;
        color: $secondary_background;
      }

      /* Create a custom radio button */
      .checkmark {
        top: 12px;
        height: 16px;
        width: 16px;
      }

      /* Style the indicator */
      .container_checkbox .checkmark:after {
        left: 5.5px;
        top: 2px;
        width: 3.5px;
        height: 8px;
      }
    }
  }
}
