

main {
  padding-top: 60px;
  // HOME
  .my_jumbotron {
    position: relative;
    .title_jumbo {
      width: 350px;
      position: absolute;
      top: 40%;
      left: 5%;
      h2 {
        font-size: $h2_text_size;
        color: #EAE2D2;
      }
      p {
        font-size: $paragraph_text_size;
        color: #EAE2D2;
      }
    }
    .input_jumbo {
      width: 350px;
      position: absolute;
      top: 60%;
      left: 5%;
      button {
        background-color: #F6F4F2;
      }
    }
  }
  .section_suites_cards {
    padding-bottom: 40px;
    .link_card {
      display: flex;
      justify-content: center;
      text-decoration: none;
      .item {
        display: inline-block;
        margin-top: 2rem;
        filter: grayscale(100%);
        transform: scale(0.8, 0.8) rotate(5deg);
        transition: all 0.35s;
        .polaroid {
          height: 500px;
          background: #fff;
          padding: 1rem;
          box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
          img{
            max-width: 100%;
            height: auto;
          }
          .caption {
            text-align: center;
            h5 {
              font-size: 20px;
              text-transform: uppercase;
              margin-top: 30px;
            }
            p {
              font-size: 15px;
              margin-top: 60px;
            }
          }
          &:before {
            content: '';
            position: absolute;
            z-index: -1;
            transition: all 0.35s;
          }
        }
        .item {
          .polaroid:before {
            transform: rotate(6deg);
            height: 20%;
            width: 47%;
            bottom: 30px;
            right: 70px;
            box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
          }
        }
        &:hover {
          filter: none;
          transform: scale(1, 1) rotate(0deg) !important;
          transition: all 0.35s;
        }
        &:hover {
          .polaroid:before {
            content: '';
            position: absolute;
            z-index: -1;
            transform: rotate(0deg);
            height: 90%;
            width: 90%;
            bottom: 0%;
            right: 5%;
            box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
            transition: all 0.35s;
          }
        }
      }
    }
  }
  // FINE HOME

  // SEARCH
  // Stili al form di Ricerca
  .search_location {
    input {
      &:focus {
        border-color: $secondary_background;
        box-shadow: 0 0 0;
        outline: 0 none;
      }
    }
  }
  .input_box>input {
    &:focus {
      border-color: $secondary_background;
      box-shadow: 0 0 0;
      outline: 0 none;
    }
  }
  // Tasto Submit di Ricerca
  .submit_search {
    line-height: 60px;
    .input_search {
      background-color: $secondary_text_color;
      border: none;
      padding:0 30px;
      margin-right: 0;
      color: $primary_text_color;
      font-family: $primary_font;
      font-size: $small_text_size;
      text-transform: capitalize;
      font-weight: bold;
      &:hover {
        background-color: $quinternary_background;
      }
    }
  }
  // Stili checkbox
  .checkbox {
    @include text_checkbox;
    font-family: $primary_font;
    color: $quinternary_text_color;
    font-size: $paragraph_text_size;

    /* Customize the label (the container) */
    .container_checkbox {
       @include container_checkbox;
       margin: 10px 0 30px 0;
    }

    /* Hide the browser's default radio button */
    .container_checkbox input {
       @include default_radio_button;
    }

    /* Create a custom radio button */
    .checkmark {
       @include custom_radio_button;
    }

    /* When the radio button is checked, add a background */
    .container_checkbox input:checked ~ .checkmark {
      background-color: $secondary_text_color;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
       @include checkmark_after;
    }

    /* Show the indicator (dot/circle) when checked */
    .container_checkbox input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator */
    .container_checkbox .checkmark:after {
      @include style_indicator;
    }
  }
  // Contenitore card e mappa
  .cont_suites_cards {
    min-height: 600px;
  }
  .entry {
    border: 1px solid black;
  }
  // FINE SEARCH
}
