// partials/_mixin.scss

// Typography
@mixin jumbotron_text {
  font-size: 48px;
  text-transform: bold;
}

// Form Title Typography
@mixin form_top_title {
  text-transform: capitalize;
  font-weight: bolder;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

@mixin form_sub_title {
  text-transform: capitalize;
  margin-bottom: 40px;
}

// Form Button
@mixin form_btn_submit {
  font-weight: bold;
  padding: 20px 50px;
  margin-bottom: 20px;
}

// CheckBox
/* Text checkbox */
@mixin text_checkbox {
  font-weight: normal;
  text-align: left;
}

/* Customize the label (the container) */
@mixin container_checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
@mixin default_radio_button {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}

/* Create a custom radio button */
@mixin custom_radio_button {
   position: absolute;
   top: 3.5px;
   left: 0;
   height: 18px;
   width: 18px;
   border-radius: 50%;
   border: 1px solid $secondary_text_color;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
@mixin checkmark_after {
   content: "";
   position: absolute;
   display: none;
}

/* Style the indicator */
@mixin style_indicator{
  left: 6px;
  top: 2.5px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 1.2px 1.2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
