// partials/_search.scss

main {
  // SEARCH
  .ap-input {
    &::placeholder {
      color: $placeholder_text_color;
      opacity: 1; /* Firefox */
    }
  }
  // Tasto Submit di Ricerca
  .submit_search {
    line-height: 60px;
    .input_search {
      background-color: $secondary_text_color;
      border: none;
      padding:0 30px;
      margin-right: 0;
      color: $primary_text_color;
      font-family: $primary_font;
      font-size: $small_text_size;
      text-transform: capitalize;
      font-weight: bold;
      &:hover {
        background-color: $quinternary_background;
      }
    }
  }
  // Stili checkbox
  .checkbox {
    @include text_checkbox;
    font-family: $primary_font;
    color: $quinternary_text_color;
    font-size: $paragraph_text_size;

    @media all and (min-width: 992px) {
      &:last-child {
        padding-right: 0;
      }
    }


    /* Customize the label (the container) */
    .container_checkbox {
       @include container_checkbox;
       margin: 10px 0 30px 0;
    }

    /* Hide the browser's default radio button */
    .container_checkbox input {
       @include default_radio_button;
    }

    /* Create a custom radio button */
    .checkmark {
       @include custom_radio_button;
    }

    /* When the radio button is checked, add a background */
    .container_checkbox input:checked ~ .checkmark {
      background-color: $secondary_text_color;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
       @include checkmark_after;
    }

    /* Show the indicator (dot/circle) when checked */
    .container_checkbox input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator */
    .container_checkbox .checkmark:after {
      @include style_indicator;
    }
  }
  // Contenitore card e mappa
  .container_suites_cards {
    min-height: 500px;
    .suites_cards {
      .suites_cards_promo {
        color: red;
        .carousel-item{
          img{
            height: 150px;
          }
        }
      }
      .suites_cards_noPromo {
        color: black;
        .carousel-item{
          img{
            height: 150px;
          }
        }
      }
    }
    .my_maps{
      height: 100vh;
      padding-top: 60px;
      margin-top: -60px;
      position: sticky;
      top: 0px;
      left: 100%;
      #map{
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
  .entry {
    .image_main_card {
      border-radius: 50%;
    }
    .body_card {
      height: 100%;
      h6 {
        font-size: 20px;
        color: $quinternary_text_color;
        letter-spacing: 0;
        line-height: 20px;
      }
      p {
        font-size: 18px;
        color: $qaternary_text_color;
        letter-spacing: 0;
        line-height: 20px;
      }
    }
  }
  // FINE SEARCH
}
