// partials/_search.scss

main {
  // SEARCH
  // Stili al form di Ricerca
  .search_location {
    input {
      &:focus {
        border-color: $secondary_background;
        box-shadow: 0 0 0;
        outline: 0 none;
      }
    }
  }
  .input_box > input {
    &:focus {
      border-color: $secondary_background;
      box-shadow: 0 0 0;
      outline: 0 none;
    }
  }
  // Tasto Submit di Ricerca
  .submit_search {
    line-height: 60px;
    .input_search {
      background-color: $secondary_text_color;
      border: none;
      padding:0 30px;
      margin-right: 0;
      color: $primary_text_color;
      font-family: $primary_font;
      font-size: $small_text_size;
      text-transform: capitalize;
      font-weight: bold;
      &:hover {
        background-color: $quinternary_background;
      }
    }
  }
  // Stili checkbox
  .checkbox {
    @include text_checkbox;
    font-family: $primary_font;
    color: $quinternary_text_color;
    font-size: $paragraph_text_size;

    /* Customize the label (the container) */
    .container_checkbox {
       @include container_checkbox;
       margin: 10px 0 30px 0;
    }

    /* Hide the browser's default radio button */
    .container_checkbox input {
       @include default_radio_button;
    }

    /* Create a custom radio button */
    .checkmark {
       @include custom_radio_button;
    }

    /* When the radio button is checked, add a background */
    .container_checkbox input:checked ~ .checkmark {
      background-color: $secondary_text_color;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
       @include checkmark_after;
    }

    /* Show the indicator (dot/circle) when checked */
    .container_checkbox input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the indicator */
    .container_checkbox .checkmark:after {
      @include style_indicator;
    }
  }
  // Contenitore card e mappa
  .container_suites_cards {
    min-height: 500px;
    //
    .suites_cards {
      .suites_cards_promo {
        color: red;
      }
      .suites_cards_noPromo {
        color: black;
      }
    }
    .my_maps {
      #map {
        height: 500px;
      }
    }
  }
  .entry {
    .image_main_card {
      border-radius: 50%;
    }
    .body_card {
      h4 {
        font-size: $h4_text_size;
        color: $quinternary_text_color;
      }
      h6 {
        font-size: $h6_text_size;
        color: $qaternary_text_color;
      }
    }
  }
  // FINE SEARCH
}
