// partials/_show.scss

main {
  // SHOW
  // Stili al form di Message
  .input_box > input {
    &:focus {
      border-color: $secondary_background;
      box-shadow: 0 0 0;
      outline: 0 none;
    }
  }
  .input_box > textarea {
    &:focus {
      border-color: $secondary_background;
      box-shadow: 0 0 0;
      outline: 0 none;
    }
  }
  .row_info {
    .list_infos, .list_services > *{
      list-style-type: none;
    }
  }
  // Tasto Send Message
  .submit_message {
    line-height: 60px;
    .send_message {
      background-color: $secondary_text_color;
      border: none;
      padding:0 30px;
      margin-right: 0;
      color: $primary_text_color;
      font-family: $primary_font;
      font-size: $small_text_size;
      text-transform: capitalize;
      font-weight: bold;
      &:hover {
        background-color: $quinternary_background;
      }
    }
  }
  #show_map{
    height: 380px;
  }
}
