// Body
$body-bg: #f8fafc;

// Main
$menu_height: 60px;

// Typography
$primary_font: 'Poppins', sans-serif;
$secondary_font: 'Quando', serif;
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$paragraph_text_size: 15px;
$hamburger_icon: 20px;
$icon_size: 18px;
$small_text_size: 14px;
$h2_text_size: 44px;
$h3_text_size: 30px;
$h4_text_size: 24px;
$h6_text_size: 20px;
$jumbo_paragraph: 20px;
$jumbo_h1: 44px;


// Colors
$primary_background: #f6f4f2; //white
$secondary_background: #272728;
$tertiary_background: #616161;
$qaternary_background: #2d3f53;
$quinternary_background: #a73727;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Text
$primary_text_color: #f6f4f2;
$secondary_text_color: #cf4532;
$tertiary_text_color: #95afbf;
$qaternary_text_color: #606060;
$quinternary_text_color: #272728;


// Register Login Form
$main_padding: 100px;
